{% extends "layout.html" %}

{% block title_block %}
[{{ pb.name }}] - {{ g.user.user_name }} | {{ config.SITE_NAME }}
{% endblock %}


{% block content_block %}

<div class="full_box mt30 clearfix">
	<div class="container clearfix mb30">
		<div class="page_box_content_wrap">
			<div id="pagebox_header" class="clearfix">
				<h2 class="section_title fl"><a href="/">我收藏的Page</a> / <a href="/pagebox/{{ pb.id }}">{{ pb.name }}</a></h2>
				
				<a id="pagebox_del_btn" class="btn btn-danger btn-xs pagebox_ops fr" href="#DelMyPageBoxModal" data-toggle="modal"><i class="icon-remove"></i> 删除</a>
				<a id="pagebox_edit_btn" class="btn btn-default btn-xs pagebox_ops fr" href="#EditMyPageBoxModal" data-toggle="modal"><i class="icon-cog"></i> 编辑</a>

			</div>
			
			{% include 'install_add_btn_wrap.html' %}
			
			{% include 'search_my_page_ret_summary.html' %}

			{% include 'my_page_list_wrap.html' %}
			
			{% include 'loadmorepage.html' %}
			
			{% if iam_him %}				
			{% include 'target_page_box_modal.html' %}
			{% endif %}
			
		</div>
		<!-- class.page_box_content_wrap end -->
	</div>
	<!-- class.container end -->
</div>
<!-- class.full_box end -->

{% include 'edit_my_page_box_modal.html' %}

{% endblock %}

